{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h3><strong>{{ list.name }}</strong> List. </h3>
        <hr/>
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Poster</th>
              <th scope="col">Title</th>
                <th scope="col">Note</th>
              <th scope="col">Rating</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
          {% for movie in movies %}
            <tr>
              <th scope="row">{{loop.index}}</th>
                <td><img class="img-thumbnail" src="{{movie.poster}}" height="50" width="50"></td><td>{{movie.title}}</td>
                <td>
                    {% if movie.note %}
                        <p> {{movie.note}} </p>
                    {% else %}
                        <p class="text-muted"> Nothing </p>
                    {% endif %}
                </td>
                <td style="width: 20px">
                    {% if movie.Rating %}
                    {{ movie.Rating }}
                    {%else%}
                        ...
                    {%endif%}
                </td>
                <td class="form-inline" style="width: 20px">
                    <form action="{{url_for('movie_page', id=movie.id, list_id=list_id)}}" method="post">
                        <input type="submit" class="btn btn-outline-info btn-sm" value="More">
                    </form>
                    <form action="{{url_for('delete_movie_from_list', list_id=list_id, movie_id=movie.id)}}" method="post  ">
                        <input type="submit" class="btn btn-outline-danger btn-sm mt-1" value="Delete">
                    </form>
                </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <hr/>
        <a class="btn btn-outline-dark btn-md" href="{{url_for('add_movie', list_id=list_id, back='True')}}">Add</a>
    </div>
{% endblock %}