{% extends "layout.html" %}
{% block content %}
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col"># of movies </th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th> <td>Mark</td> <td>Otto</td> <td>
            <a class="btn btn-danger">Delete</a>
            <a class="btn btn-primary">View</a>
        </td>
        </tr>
        <tr>
          <th scope="row">2</th> <td>Jacob</td> <td>Thornton</td> <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th> <td>Larry</td> <td>the Bird</td> <td>@twitter</td>
        </tr>
      </tbody>
    </table>

    <a class="btn btn-outline-dark md-btn" href="{{url_for('new_list')}}">Create New List</a>


{% endblock %}