{% extends "layout.html" %}
{% block content %}

    <div class="container content-section">
        <div class="row">
            <img src="{{movie.poster}}" width="500" height="500" class="col-lg-6 col-12 rounded float-left" alt="poster image">
            <div class="col-lg-6 col-12">
                <h2><strong>{{ movie.title }}</strong>, <small class="text-muted"> {{movie.year}} </small></h2>
                <hr/>
                <h3><strong>Ratings</strong></h3>
                {% if MRSRating %}
                    <h6 > MRS: {{ MRSRating }} </h6>
                {% endif %}
                <h6><mark>IMDb</mark>: {{ movie.rating }} </h6>
                {% if current_user.is_authenticated %}
                    {% if list %}
                    <form class="form-inline" action="{{url_for('movie_page', id=movie.id,list_id=list.List_id )}}" method="post">
                     {% else %}
                     <form class="form-inline" action="{{url_for('movie_page', id=movie.id )}}" method="post">
                      {% endif %}
                        {{ form.hidden_tag() }} <!-- For Protection -->
                        {{ form.rate.label(class="form-control-label mr-2") }}
                        {% if form.rate.errors %}
                            {% if Rating %}
                                {{ form.rate(class= "form-control form-control-sm col-2 is-invalid", value=Rating) }}
                            {% else %}
                                {{ form.rate(class= "form-control form-control-sm col-2 is-invalid", placeholder=Rating) }}
                            {% endif %}
                            {{ form.submit(class="btn btn-outline-dark btn-sm ml-2") }}
                            <div class="invalid-feedback">
                                {% for error in form.rate.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {% if Rating %}
                                {{ form.rate(class= "form-control form-control-sm col-2", value=Rating) }}
                            {% else %}
                                {{ form.rate(class= "form-control form-control-sm col-2", placeholder=Rating) }}
                            {% endif %}
                        {{ form.submit(class="btn btn-outline-dark btn-sm ml-2") }}
                        {% endif %}
                        <!--{{ form.csrf_token }}--> <!--For Protection;; it can take the place of form.hidden_tag() -->
                    </form>
                    {% endif %}
                <hr/>
                <h3><strong>Plot</strong></h3>
                <p>{{movie.plot}}</p>
                <hr>
                {% if current_user.is_authenticated %}
                    {% if list %}

                        <form method="post" action="{{url_for('noteform',movie_id=movie.id,list_id=list.List_id)}}">
                            {{ noteform.hidden_tag() }} <!--For Protection-->
                            <fieldset class="form-group">
                                <div class="form-group">
                                    <h3><strong>{{ noteform.note.label(class= "form-control-label") }}</strong></h3>
                                    {% if noteform.note.errors %}
                                        {{ noteform.note(class= "form-control form-control-sm is-invalid", value=list.note) }}
                                        <div class="invalid-feedback">
                                            {% for error in noteform.note.errors %}
                                            <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ noteform.note(class= "form-control form-control-sm", value='list.note') }}
                                    {% endif %}
                                </div>
                            </fieldset>
                            <div class="form-group">
                            {{ noteform.submit(class="btn btn-outline-dark btn-sm ml-2") }}
                            </div>
                        </form>


                    {% else %}
                        <a class="btn btn-outline-secondary" href="#">Add to list</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <article class="content-section">
        {% if current_user.is_authenticated %}
            <div class="row">

                    <form class="col-12 mt-2 media" method="post">
                        <img class="rounded-circle account-img" src="{{ url_for('static',filename='profile_pics/' + 'default.jpg') }}" style="width: 60px; height: 60px;">
                        {{ commentform.hidden_tag() }} <!--For Protection-->
                        {{ commentform.comment(class= "form-control form-control-sm") }}


                    </form>
                    <div class="col-12">

                    {{ commentform.submit(class="btn btn-outline-dark btn-sm ml-2 float-right ") }}
                    </div>
        {% endif %}

            <div class="col-12 media mt-2">
                <img class="rounded-circle account-img" src="{{ url_for('static',filename='profile_pics/' + 'default.jpg') }}" style="width: 60px; height: 60px;">
                <div class="media-body">
                    <div class="article-metadata">
                      <a class="mr-2" href="#">Mahdi</a>
                      <small class="text-muted">2020/12/31</small>
                    </div>
                <p class="article-content">The end of the world is very close. Please stay home so that you can prevent it.</p>
                </div>
            </div>
        </div>
    </article>
{% endblock %}