{% extends "layout.html" %}
{% block content %}

    <div class="container content-section">
        <div class="row">
            <img src="../static/inception.jpg" class="col-lg-6 col-12 rounded float-left" alt="inception">
            <div class="col-lg-6 col-12">
                <h1 ><strong>Name</strong> , <small class="text-muted"> year </small></h1>
                <hr/>
                <h3><strong>Ratings</strong></h3>
                <h6 > MRS: 9 </h6>
                <h6><mark>IMDB</mark>: 8.8</h6>
                <h6>Yours: 10 </h6>
                <hr/>
                <h3><strong>Plot</strong></h3>
                <p>A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O.</p>
            </div>
        </div>
    </div>
{% endblock %}